<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1>Llista de habilidades</h1>
<table>
    <thead>
    <tr>
        <th>Id_habilidad</th>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Nivel</th>
        <th>Activa</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="habilidad: ${habilidades}">
        <td th:text="${habilidad.id_habilidad}"></td>
        <td th:text="${habilidad.nombre}"></td>
        <td th:text="${habilidad.descripcion}"></td>
        <td th:text="${habilidad.nivel}"></td>
        <td th:text="${habilidad.activa}"></td>
        <td><a th:href="@{/habilidad/update/{id_habilidad}(id_habilidad=${habilidad.id_habilidad})}">Edita</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="add">Agrega una habilidad</a>
</body>
</html>
