<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link href="/static/style.css" rel="stylesheet">

    <div class="loggeduser" th:object="${session}">
        <p th:if="*{alumno == null}">
            No autenticat <a href="/login" th:href="@{/login}">Entrar</a>
        </p>
        <p th:unless="*{alumno == null}"><center><b>
        Autenticado como <span th:text="*{alumno.nombre}"></span></b></center>
        </p>
    </div>
</head>

<body>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-30 text-center mb-30">
                <h2 style="font-size:60px;">SKP MENU</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar" >
            <div class="container">
                <a class="navbar-brand" href="/">Volver</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto mr-md-3" id="menu">
                        <li class="nav-item"><a href="/skp/alumnos/list" class="nav-link">Usuarios</a></li>
                        <li class="nav-item"><a href="/habilidad/list" class="nav-link">Habilidades</a></li>
                        <li class="nav-item"><a href="/skp/colaboracion/list" class="nav-link">Colaboraciones</a></li>
                        <li class="nav-item"><a href="/skp/solicitud/list" class="nav-link">Solicitudes</a></li>
                        <li class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->
    </div>
</section>
<form style="margin: auto; width: 220px; margin-top: 50px;" th:action="@{/habilidad/listarHabilidadesEstado}">
    <select name="habilidad" >
        <option value="Todas">Todas</option>
        <option value="Desactivadas">Desactivadas</option>
        <option value="Activas">Activas</option>
    </select>
    <button> OK </button>
</form>

<div class="card-columns" align="center" style="margin-top: 50px;">
    <div class="card" style="width: 18rem;" th:each="habilidad: ${habilidades}" align="center">
        <div class="card-body">
            <h5 class="card-title"><b><a th:text="${habilidad.nombre}"></a></b></h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a th:text="${habilidad.descripcion}"></a></li>
            <li class="list-group-item">Nivel: <a th:text="${habilidad.nivel}"></a></li>
            <li class="list-group-item">Estado: <a th:text="${habilidad.activa == null ?'Activada': 'Desactivada'}"></a></li>
        </ul>
        <div class="card-body" th:object="${session}">
            <a th:if="${habilidad.activa}" th:href="@{/habilidad/desactivar/{idHabilidad}(idHabilidad=${habilidad.id_habilidad})}" class="btn btn-danger"role="button">Desactivar</a>
            <a th:if="${!habilidad.activa}" th:href="@{/habilidad/activar/{idHabilidad}(idHabilidad=${habilidad.id_habilidad})}" class="btn btn-success" role="button">Activar</a>
            <a class="btn btn-warning" th:href="@{/habilidad/update/{idHabilidad}(idHabilidad=${habilidad.id_habilidad})}" role="button">Editar</a>
        </div>
    </div>
</div>
</body>
</html>
