<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear una nueva habilidadr</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>
<h2>Nueva habilidad</h2>
<form action="#" th:action="@{/habilidad/add}"
      th:object="${habilidad}" method="post">
    <table>
        <tr>
            <td><label>IdHabilidad</label></td>
            <td><input type="text" th:field="*{id_habilidad}" /></td>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
        </tr>
        <tr>
            <td><label>Descripción</label></td>
            <td><input type="text" th:field="*{descripcion}" /></td>
        </tr>
        <tr>
            <td><label>Nivel</label></td>
            <td><input type="text" th:field="*{nivel}" /></td>
        </tr>
        <tr>
            <td><label>Activa</label></td>
            <td><input type="text" th:field="*{activa}" /></td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Agrega habilidad" /></td>
        </tr>
    </table>
</form>
</body>
</html>
