<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="/static/style.css" rel="stylesheet">

    <div style="float:right" class="loggeduser" th:object="${session}">
        <p th:if="*{alumno == null}">
            No autenticat <a href="/login" th:href="@{/login}">Entrar</a>
        </p>
        <p th:unless="*{alumno == null}"><center><b>
        Autenticado como <span th:text="*{alumno.nombre}"></span></b></center>
        </p>
    </div>
</head>
<body>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-30 text-center mb-30">
                <h2 style="font-size:60px;">MIS COLABORACIONES</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto mr-md-3">
                        <li class="nav-item"><a href="/colaboracion/listpropias" class="nav-link">Mis colaboraciones</a></li>
                        <li class="nav-item"><a href="/oferta/listpropias" class="nav-link">Mis ofertas</a></li>
                        <li class="nav-item"><a href="/solicitud/listpropias" class="nav-link">Mis solicitudes</a></li>
                        <li class="nav-item"><a href="/oferta/list" class="nav-link">Ver ofertas</a></li>
                        <li class="nav-item"><a href="alumno/perfil" class="nav-link">Mi perfil</a></li>
                        <li class="nav-item" th:object="${session}">
                            <a th:if="*{alumno.isSkp}" href="/skp/menu" class="nav-link">Menú SKP</a>
                            <a th:unless="*{alumno.isSkp}" href="#" class="nav-link">Contactanos</a>
                        </li>
                        <li class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->
    </div>
</section>

<div class="card-columns" style="width: auto; margin: auto auto;">
    <div class="card" style="width: 18rem;" th:each="colaboracion: ${colaboraciones}" align="center">
        <div class="card-body">
            <h5 class="card-title"><b><a th:each="solicitud: ${solicitudes}" th:if="${colaboracion.idSolicitud==solicitud.id_solicitud}" th:text="${solicitud.nombre}"></a></b></h5>
            <p class="card-text"><a th:each="solicitud: ${solicitudes}" th:if="${colaboracion.idSolicitud==solicitud.id_solicitud}" th:text="${solicitud.descripcion}"></a></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Inicio: <a th:text="${colaboracion.fecha_inicio}"></a></li>
            <li class="list-group-item">Fin: <a th:text="${colaboracion.fecha_fin}"></a></li>
        </ul>
        <div class="card-body">
            <a th:href="@{/colaboracion/update/{id_colaboracion}(id_colaboracion=${colaboracion.id_colaboracion})}" class="btn btn-danger" role="button">Finalizar</a>
        </div>

    </div>
</div>


<!--
<div class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id Colaboracion</th>
            <th>idOferta</th>
            <th>idSolicitud</th>
            <th>Fecha Inicio</th>
            <th>Fecha Finalizacion</th>
            <th>Horas</th>
            <th>Puntuacion</th>
            <th>Opinión</th>
            <th>Activo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="colaboracion: ${colaboraciones}">
            <td th:text="${colaboracion.id_colaboracion}"></td>
            <td th:text="${colaboracion.idSolicitud}"></td>
            <td th:text="${colaboracion.idOferta}"></td>
            <td th:text="${colaboracion.fecha_inicio}"></td>
            <td th:text="${colaboracion.fecha_fin}"></td>
            <td th:text="${colaboracion.horas}"></td>
            <td th:text="${colaboracion.puntuacion}"></td>
            <td th:text="${colaboracion.opinion}"></td>
            <td th:text="${colaboracion.finalizada}"></td>
            <td><a th:href="@{/colaboracion/update/{id_colaboracion}(id_colaboracion=${colaboracion.id_colaboracion})}"class="btn btn-warning" role="button">Edita</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    -->
</body>
</html>