<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1 align="center">Lista de colaboraciones</h1>
<table align="center">
    <thead>
    <tr>
        <th>Id Colaboracion</th>
        <th>idOferta</th>
        <th>idSolicitud</th>
        <th>Fecha Inicio</th>
        <th>Fecha Finalizacion</th>
        <th>Horas</th>
        <th>Puntuacion</th>
        <th>Opinión</th>
        <th>Activo</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="colaboracion: ${colaboraciones}">
        <td th:text="${colaboracion.id_colaboracion}"></td>
        <td th:text="${colaboracion.idSolicitud}"></td>
        <td th:text="${colaboracion.idOferta}"></td>
        <td th:text="${colaboracion.fecha_inicio}"></td>
        <td th:text="${colaboracion.fecha_fin}"></td>
        <td th:text="${colaboracion.horas}"></td>
        <td th:text="${colaboracion.puntuacion}"></td>
        <td th:text="${colaboracion.opinion}"></td>
        <td th:text="${colaboracion.activo}"></td>
        <!-- <td><a th:href="@{/colaboracion/update/{id_colaboracion}(id_colaboracion=${colaboracion.id_colaboracion})}">Edita</a> -->
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>