<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Llista de alumnes del sistema</title>
    <meta charset="UTF-8"/>
    <!-- Afegim una fulla d'estil (Bootstrap) -->
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />

    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-30 text-center mb-30">
                <h2 style="font-size:60px;">SKP MENU</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar" >
            <div class="container">
                <a class="navbar-brand" href="/">Volver</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto mr-md-3" id="menu">
                        <li class="nav-item"><a href="/skp/alumnos/list" class="nav-link">Usuarios</a></li>
                        <li class="nav-item"><a href="/habilidad/list" class="nav-link">Habilidades</a></li>
                        <li class="nav-item"><a href="/skp/colaboracion/list" class="nav-link">Colaboraciones</a></li>
                        <li class="nav-item"><a href="/skp/solicitud/list" class="nav-link">Solicitudes</a></li>
                        <li class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->
    </div>
</section>
<div class="card-columns" style="width: auto; margin: auto auto; margin-top: 50px;">
    <div class="card" style="width: 18rem;" th:each="alumno: ${alumnos}" align="center">
        <div class="card-body">
            <h5><a th:text="${alumno.nombre}"></a></h5>
            <a th:text="${alumno.apellidos}"></a>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Email: <a  th:text="${alumno.email}"></a></li>
            <li class="list-group-item">Balance de horas: <a  th:text="${alumno.balanceHoras}"></a></li>
            <li class="list-group-item">Fecha de creación: <a  th:text="${alumno.fechaCreacion}"></a></li>
            <li class="list-group-item">SKP: <a  th:text="${alumno.isSkp}"></a></li>
        </ul>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Titulación: <a  th:text="${alumno.titulacion}"></a></li>
            <li class="list-group-item">Curso: <a  th:text="${alumno.curso}"></a></li>
            <li class="list-group-item">Genero: <a  th:text="${alumno.genero}"></a></li>
            <li class="list-group-item">Num. Tel: <a  th:text="${alumno.numTel}"></a></li>
            <a th:if="${alumno.isSkp}"class="btn btn-info" href="#" role="button">SKP</a>
            <a th:if="${!alumno.isSkp and !alumno.ban}" th:href="@{/skp/ban/{alumno.dni}(alumno.dni=${alumno.dni})}" class="btn btn-danger" role="button">Banear</a>
            <a th:if="${alumno.ban}" href="#" class="btn btn-success" role="button">Desbanear</a>
            <!--
            <a th:href="@{/colaboracion/update/{id_colaboracion}(id_colaboracion=${colaboracion.id_colaboracion})}" class="btn btn-danger" role="button">Finalizar</a>
            -->
        </ul>

    </div>
</div>
<!--
<div th:if="${#lists.isEmpty(alumnos)}"style="margin-top: 50px; text-align: center;">
    No hi ha usuaris
</div>
<table th:unless="${#lists.isEmpty(alumnos)}"  class="table table-condensed" style="margin-top: 50px;">
    <thead>
    <tr>
        <th>DNI</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="alumno: ${alumnos}">
        <td th:text="${alumno.dni}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
-->
