<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-30 text-center mb-30">
                <h2 style="font-size:60px;">SKP MENU</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar" >
            <div class="container">
                <a class="navbar-brand" href="/">Volver</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto mr-md-3" id="menu">
                        <li class="nav-item"><a href="/skp/alumnos/list" class="nav-link">Usuarios</a></li>
                        <li class="nav-item"><a href="/habilidad/list" class="nav-link">Habilidades</a></li>
                        <li class="nav-item"><a href="/habilidad/add" class="nav-link">Crear Habilidad</a></li>
                        <li class="nav-item"><a href="/skp/colaboracion/list" class="nav-link">Colaboraciones</a></li>
                        <li class="nav-item"><a href="/solicitud/list" class="nav-link">Solicitudes</a></li>
                        <li class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->
    </div>
</section>
<div class="card-columns" style="width: auto; margin: auto auto; margin-top: 50px;">
    <div class="card" style="width: 18rem;" th:each="solicitud: ${solicitudes}" align="center">
        <div class="card-body">
            <h5 class="card-title"><b><a th:text="${solicitud.nombre}"></a></b></h5>
            <p class="card-text"><a th:text="${solicitud.descripcion}"></a></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a th:each="habilidad: ${habilidades}" th:if="${habilidad.id_habilidad==solicitud.id_habilidad}" th:text="${habilidad.nombre+' '+habilidad.nivel}"></a></li>
            <li class="list-group-item">Estado: <a th:text="${solicitud.estado == null ?'Pendiente': (solicitud.estado== true ? 'Aceptado' : 'Denegado')}"></a></li>
            <li class="list-group-item">Solicitante: <a th:each="alumno: ${alumnos}" th:if="${alumno.dni==solicitud.dni_solicitud}" th:text="${alumno.nombre+' '+alumno.apellidos}"></a></li>
            <li class="list-group-item">Inicio: <a th:text="${solicitud.fecha_inic}"></a></li>
            <li class="list-group-item">Fin: <a th:text="${solicitud.fecha_fin}"></a></li>
        </ul>
        <div class="card-body">
            <a th:href="@{/skp/borrarSolicitud/{id_solicitud}(id_solicitud=${solicitud.id_solicitud})}" class="btn btn-danger" role="button">Borrar</a>
        </div>
    </div>
</div>
</body>
</html>