<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>USUARIO NORMAL</title>
</head> USUARIO NORMAL



<body>

<nav>
    <ul>
        <li><a href="colaboracion/list">Mis colaboraciones</a></li>
        <li><a href="oferta/list">Mis ofertas</a></li>
        <li><a href="solicitud/list">Mis solicitudes</a></li>
        <li><a href="ofertas/list">Ver ofertas</a></li>
        <li><a href="alumno/loquesea">Mi perfil</a></li>
        <li><a href="ofertas/list">Ver ofertas</a></li>
    </ul>
</nav>

</body>
</html>