<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SkillSharing</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 text-center mb-5">
                    <h2 class="heading-section">SkillSharing</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="/">Inicio</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars"></span> Menu
                    </button>
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto mr-md-3">
                            <li class="nav-item"><a href="oferta/list" class="nav-link">Ver ofertas</a></li>
                            <li class="nav-item"><a href="/alumno/add" class="nav-link">Registrate</a></li>
                            <li class="dropdown nav-item d-md-flex align-items-center">
                                <a href="alumno/users" class="dropdown-toggle nav-link d-flex align-items-center justify-content-center icon-cart p-0" id="dropdown04" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                    <b class="caret"></b>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div>
                <b><center>Bienvenido a la apicación SkillSharing, el mejor portal web para los estudiantes. Puedes ver las ofertas actuales, pero si inicias sesión tendras acceso a más herramientas.</center></b>
                <br> <br> <br> <br> <br>
                <a href="/alumno/add">¿No estás registrado? Pulsa aquí para registrarte.</a>
            </div>
        </div>

    </section>
</body>
</html>