<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>

</head>
<body>
<div layout:fragment="content">
    <h2>Accés</h2>
    <form action="#" th:action="@{/loginV2}"
          th:object="${alumno}" method="post">
        <p>
            <label>Nom d'usuari:</label>
            <input class="form_control" type="text" th:field="*{dni}"/>
        <div class="error" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
        </p>
        <p>
            <label>Contrasenya:</label>
            <input class="form_control" type="password" th:field="*{contraseña}"/>
        <div class="error" th:if="${#fields.hasErrors('contraseña')}" th:errors="*{contraseña}"></div>
        </p>
        <input type="submit" value="Accedir" />
    </form>
</div>
</body>
</html>

