<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/base}">
<head>
    <title>Login</title>
    <meta charset="UTF-8"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link href="/static/estilos.css" rel="stylesheet">

</head>
<body>
<div class="login-page">
    <div class="form">
<div layout:fragment="content">
    <form action="#" th:action="@{/loginV2}"
          th:object="${alumno}" method="post" class="login-form">
        <p>
            <input type="text" placeholder="Usuario (DNI)" th:field="${alumno.dni}" />
        <div class="error" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
        <div class="error" th:if="${#fields.hasErrors('ban')}" th:errors="*{ban}"></div>
        </p>
        <p>
            <input type="password" placeholder="Contraseña" th:field="${alumno.contraseña}" minlength="6" maxlength="20"/>
        <div class="error" th:if="${#fields.hasErrors('contraseña')}" th:errors="*{contraseña}"></div>
        </p>
        <button>Iniciar sesión</button>
        <p class="message">¿No estás registrado? <a href="/alumno/add">Crea un nuevo usuario</a></p>
    </form>
</div>
    </div>
</div>
</body>
</html>

