<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>AÑADIR UNA NUEVA OFERTA</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"     href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"/>
</head>
<body>


<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-30 text-center mb-30">
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="loggeduser" th:object="${session}">
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto mr-md-3">
                            <li th:if="*{alumno != null}"class="nav-item"><a href="/colaboracion/listpropias" class="nav-link">Mis colaboraciones</a></li>
                            <li th:if="*{alumno != null}"class="nav-item"><a href="/oferta/listpropias" class="nav-link">Mis ofertas</a></li>
                            <li th:if="*{alumno != null}"class="nav-item"><a href="/solicitud/listpropias" class="nav-link">Mis solicitudes</a></li>
                            <li class="nav-item"><a href="list" class="nav-link">Ver ofertas</a></li>
                            <li th:if="*{alumno != null}"class="nav-item"><a href="alumno/perfil" class="nav-link">Mi perfil</a></li>
                            <li class="nav-item" th:object="${session}">
                                <a th:if="*{alumno.isSkp}" href="/skp/menu" class="nav-link">Menú SKP</a>
                                <a th:unless="*{alumno.isSkp}" href="#" class="nav-link">Contactanos</a>
                            </li>
                            <li th:if="*{alumno != null}"class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link">Cerrar sesión</a></li>
                            <li th:if="*{alumno == null}"class="dropdown nav-item d-md-flex align-items-center">
                                <a href="/alumno/users" class="dropdown-toggle nav-link d-flex align-items-center justify-content-center icon-cart p-0" id="dropdown04" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                    <b class="caret"></b>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END nav -->
    </div>
</section>
<h2 align="center">Nueva Oferta</h2>
<form action="#" th:action="@{/oferta/add}"
       method="post">
    <table align="center">
        <tr>
            <td><label>Id Habilidad</label></td>
            <td><select th:field="${oferta.idHabilidad}">
               <option th:value="${habilidad.id_habilidad}" th:each="habilidad: ${habilidades}"><a th:text=${habilidad.nombre} ></a> <a th:text=${habilidad.nivel}></a></option>
                </select></td>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="${oferta.nombre}"/></td>
            <td th:if="${#fields.hasErrors('oferta.nombre')}" th:errors="*{oferta.nombre}" class="error"/>
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input type="text" th:field="${oferta.descripcion}"/></td>
            <td th:if="${#fields.hasErrors('oferta.descripcion')}" th:errors="*{oferta.descripcion}" class="error"/>
        </tr>
        <tr>
            <td><label>Fecha Iniciacion</label></td>
            <td><input type="date" th:field="${oferta.fechaIniciacion}"/></td>
            <td th:if="${#fields.hasErrors('oferta.fechaFinalizacion')}" th:errors="*{oferta.fechaIniciacion}" class="error"/>
        </tr>
        <tr>
            <td><label>Fecha Finalizacion</label></td>
            <td><input type="date" th:field="${oferta.fechaFinalizacion}"/></td>
            <td th:if="${#fields.hasErrors('oferta.fechaIniciacion')}" th:errors="*{oferta.fechaFinalizacion}" class="error"/>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Añadir oferta" /></td>
        </tr>
    </table>
</form>
</body>
</html>