<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
<div class="card-columns" style="width: auto; margin: auto auto;">
    <div class="card" style="width: 18rem;" th:each="oferta: ${ofertas}" align="center">
        <div class="card-body">
            <h5 class="card-title"><b><a th:text="${oferta.nombre}"></a></b></h5>
            <p class="card-text"><a th:text="${oferta.descripcion}"></a></p>
           </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a th:each="habilidad: ${habilidades}" th:if="${habilidad.id_habilidad==oferta.idHabilidad}" th:text="${habilidad.nombre+' '+habilidad.nivel}"></a></li>
            <li class="list-group-item">Inicio: <a th:text="${oferta.fechaIniciacion}"></a></li>
            <li class="list-group-item">Fin: <a th:text="${oferta.fechaFinalizacion}"></a></li>
        </ul>
        <div class="card-body">

            <a  role="button" class="btn btn-primary" th:href="@{/solicitud/add/{id_oferta}(id_oferta=${oferta.idOferta})}">Solicitar</a>
            <a th:href="@{/oferta/oferta/{id_oferta}(id_oferta=${oferta.idOferta})}" class="btn btn-warning" role="button">Más información</a>
        </div>
    </div>
</div>

</body>
</html>