<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link href="/static/style.css" rel="stylesheet">

    <div style="float:right" class="loggeduser" th:object="${session}">
        <p th:if="*{alumno == null}">
            No autenticat <a href="/login" th:href="@{/login}">Entrar</a>
        </p>
        <p th:unless="*{alumno == null}"><center><b>
        Autenticado como <span th:text="*{alumno.nombre}"></span></b></center>
        </p>
    </div>
</head>
<body>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-30 text-center mb-30">
                <h2 style="font-size:60px;">ACTUALIZAR OFERTA</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar" >
            <div class="container">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto mr-md-3">
                        <li class="nav-item"><a href="/colaboracion/listpropias" class="nav-link">Mis colaboraciones</a></li>
                        <li class="nav-item"><a href="/oferta/add" class="nav-link">Añadir oferta</a></li>
                        <li class="nav-item"><a href="/oferta/listpropias" class="nav-link">Mis ofertas</a></li>
                        <li class="nav-item"><a href="/solicitud/listpropias" class="nav-link">Mis solicitudes</a></li>
                        <li class="nav-item"><a href="/oferta/list" class="nav-link">Ver ofertas</a></li>
                        <li class="nav-item"><a href="alumno/perfil" class="nav-link">Mi perfil</a></li>
                        <li class="nav-item" th:object="${session}">
                            <a th:if="*{alumno.isSkp}" href="/skp/menu" class="nav-link">Menú SKP</a>
                            <a th:unless="*{alumno.isSkp}" href="#" class="nav-link">Contactanos</a>
                        </li>
                        <li class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <div class="loggeduser" th:object="${session}">
        <p th:if="*{alumno == null}">
            No autenticat <a href="/login" th:href="@{/login}">Entrar</a>
        </p>
        <p th:unless="*{alumno == null}"><center><b>
        Autenticado como <span th:text="*{alumno.nombre}"></span></b></center>
        </p>
    </div>

</section>
<br>
<h2 align="center">ACTUALIZAR OFERTA</h2>
<br>
<br>
<form action="#" th:action="@{/oferta/update}"
      th:object="${oferta}" method="post">
    <input type="hidden" th:field="*{idOferta}" >
    <input type="hidden" th:field="*{dniPropietario}" />
    <input type="hidden" th:field="*{activa}" />
    <table align="center">
        <tr>
            <td><label>Id Habilidad</label></td>
            <td><select th:field="${oferta.idHabilidad}">
                <option th:value="${habilidad.id_habilidad}" th:each="habilidad: ${habilidades}"><a th:text=${habilidad.nombre} ></a> <a th:text=${habilidad.nivel}></a></option>
            </select></td>
        </tr>
        <tr>
            <td><label>Nombre</label></td>
            <td><input type="text" th:field="*{nombre}" /></td>
            <td th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error"/>
        </tr>
        <tr>
            <td><label>Descripcion</label></td>
            <td><input type="text" th:field="*{descripcion}" /></td>
            <td th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="error"/>
        </tr>
        <tr>
            <td><label>Fecha Iniciacion</label></td>
            <td><input type="date" th:field="*{fechaIniciacion}" /></td>
            <td th:if="${#fields.hasErrors('fechaFinalizacion')}" th:errors="*{fechaIniciacion}" class="error"/>
        </tr>
        <tr>
            <td><label>Fecha Finalizacion</label></td>
            <td><input type="date" th:field="*{fechaFinalizacion}" /></td>
            <td th:if="${#fields.hasErrors('fechaIniciacion')}" th:errors="*{fechaFinalizacion}" class="error"/>
        </tr>

        <tr>
            <td></td>
            <td colspan="2"><input type="submit" value="Modificar oferta" /></td>
        </tr>
    </table>
</form>
</body>
</html>