<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crear nuevo alumno</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <h2>Nuevo Alumno</h2>
    <form class="form-horizontal" action="#" th:action="@{/alumno/add}"
          th:object="${alumno}" method="post">

        <div class="form-group row">
            <label class="control-label col-sm-2" for="dni">Dni:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="dni" th:field="*{dni} " />
                <div th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}" class="error"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="nombre">Nombre:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="nombre" th:field="*{nombre}"/>
                <div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="error"></div>
            </div>

        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="apellidos">Apellidos:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="apellidos" th:field="*{apellidos}" />
                <div th:if="${#fields.hasErrors('apellidos')}" th:errors="*{apellidos}" class="error"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="email" th:field="*{email}" />
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2">Titulación:</label>
            <select th:field="*{titulacion}">
                <option th:value="'Ingeniería_Informática'" >Ingeniería_Informática</option>
                <option th:value="'Ingeniería_Mecánica'" >Ingeniería_Mecánica</option>
                <option th:value="'Magisterio_Infantil'" >Magisterio_Infantil</option>
                <option th:value="'Derecho'" >Derecho</option>
                <option th:value="'Medicina'" >Medicina</option>
                <option th:value="'Enfermeria'">Enfermeria</option>
                <option th:value="'Biologia'">Biologia</option>
                <option th:value="'ADE'">ADE</option>
                <option th:value="'Arquitectura'">Arquitectura</option>
                <option th:value="'Diseño_industrial'">Diseño_industrial</option>
            </select>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2">Curso:</label>
            <select th:field="*{curso}">
                <option th:value="'1'" th:text="Primero"></option>
                <option th:value="'2'" th:text="Segundo"></option>
                <option th:value="'3'" th:text="Tercera"></option>
                <option th:value="'4'" th:text="Cuarto"></option>
                <option th:value="'5'" th:text="Quinto"></option>
                <option th:value="'6'" th:text="Sexto"></option>
            </select>
        </div>
        <!--
        <div class="form-group row">
            <label class="control-label col-sm-2" for="curso">Curso:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="curso" th:field="*{curso}" />
            </div>
        </div>
        <div class="form-group row">
            <label class="control-label col-sm-2" for="genero">Genero:</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="genero" th:field="*{genero}" />
            </div>
        </div>
        -->
        <div class="form-group row">
            <label class="control-label col-sm-2">Genero:</label>
            <select th:field="*{genero}">
                <option th:value="'Masculino'" th:text="Masculino"></option>
                <option th:value="'Feminino'" th:text="Feminino"></option>
                <option th:value="'Otro'" th:text="Otro"></option>
            </select>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="edad">Edad:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="edad" th:field="*{edad}" />
                <div th:if="${#fields.hasErrors('edad')}" th:errors="*{edad}" class="error"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="numTel">Número de telefono:</label>
            <div class="col-sm-4">
                <input type="number" class="form-control" id="numTel" th:field="*{numTel}" />
                <div th:if="${#fields.hasErrors('numTel')}" th:errors="*{numTel}" class="error"></div>
            </div>
        </div>

        <div class="form-group row">
            <label class="control-label col-sm-2" for="contraseña">Contraseña:</label>
            <div class="col-sm-4">
                <input type="password" class="form-control" id="contraseña" th:field="*{contraseña}" minlength="6" maxlength="20" />
                <div th:if="${#fields.hasErrors('contraseña')}" th:errors="*{contraseña}" class="error"></div>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Añadir nuevo alumno</button>
            </div>
        </div>

    </form>
    <tr>
        <td colspan="2"><a id="estilo2" onclick="history.back()" class="btn btn btn-exit" role="button">Atrás</a>
        </td>
    </tr>
</div>
</body>
</html>
