<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ESTÁS BANEADO</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/static/style.css" rel="stylesheet">

</head>
<body>
<form action="#" th:action="@{/oferta/update}"
      th:object="${alumno}" method="post">
    <a th:text="*{motivo}"></a>
</form>

</body>
<a href="/logout" class="btn btn-primary btn-lg btn-block">Volver</a>
</html>