<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link href="/static/style.css" rel="stylesheet">
</head>

<body>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-30 text-center mb-30">
                <h2 style="font-size:60px;">MI PERFIL</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar" >
            <div class="container">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto mr-md-3">
                        <li class="nav-item"><a href="/colaboracion/listpropias" class="nav-link">Mis colaboraciones</a></li>
                        <li class="nav-item"><a href="/oferta/listpropias" class="nav-link">Mis ofertas</a></li>
                        <li class="nav-item"><a href="/solicitud/listpropias" class="nav-link">Mis solicitudes</a></li>
                        <li class="nav-item"><a href="/oferta/list" class="nav-link">Ver ofertas</a></li>
                        <li class="nav-item"><a href="/alumno/perfil" class="nav-link">Mi perfil</a></li>
                        <li class="nav-item" th:object="${session}">
                            <a th:if="*{alumno.isSkp}" href="/skp/menu" class="nav-link">Menú SKP</a>
                            <a th:unless="*{alumno.isSkp}" href="#" class="nav-link">Contactanos</a>
                        </li>
                        <li class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <div class="loggeduser" th:object="${session}">
        <p th:if="*{alumno == null}">
            No autenticat <a href="/login" th:href="@{/login}">Entrar</a>
        </p>
        <p th:unless="*{alumno == null}"><center><b>
        Autenticado como <span th:text="*{alumno.nombre}"></span></b></center>
        </p>
    </div>
</section>

<form action="#" th:action="@{/alumno/perfil}"
          th:object="${alumnos}" method="post">
    <h2 align="center">Datos del alumno</h2>
    <table align="center">

        <tr>
            <td><label>Nombre y apellidos: </label></td>
            <td><a th:text="${alumnos.nombre+' '+alumnos.apellidos}"></a></td>
        </tr>

        <tr>
            <td><label>DNI: </label></td>
            <td><a th:text="${alumnos.dni}"></a></td>
        </tr>

        <tr>
            <td><label>Número de teléfono: </label></td>
            <td><a th:text="${alumnos.numTel}"></a></td>
        </tr>

        <tr>
            <td><label>Correo electrónico: </label></td>
            <td><a th:text="${alumnos.email}"></a></td>
        </tr>
        <tr>
            <td><label>Titulación: </label></td>
            <td><a th:text="${alumnos.curso+'º '+alumnos.titulacion}"></a></td>
        </tr>

        <tr>
            <td><label>Género: </label></td>
            <td><a th:text="${alumnos.genero}"></a></td>
        </tr>

        <tr>
            <td><label>Fecha creación: </label></td>
            <td><a th:text="${alumnos.fechaCreacion}"></a></td>
        </tr>

        <tr>
            <td><label>Balance horas: </label></td>
            <td><a th:text="${alumnos.balanceHoras}"></a></td>
        </tr>

        <tr>
            <td><label>SKP: </label></td>
            <td><a th:text="${alumnos.isSkp == true ? 'Eres SKP' : 'Eres un usuario normal'}"></a></td>
        </tr>
        <tr>
            <td></td>
            <td><a th:href="@{/alumno/update/{dniAlumno}(dniAlumno=${alumnos.dni})}" class="btn btn-warning">Edita Perfil</a></td>
        </tr>


    </table>
</form>
</body>
</html>