<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>USUARIO NORMAL</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="/static/style.css" rel="stylesheet">

</head>

<body>

<!-- -----------------COMENTADO EL MENU ORIGINAL PARA TESTEAR----------
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SKILL SHARING</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a href="/colaboracion/listpropias" class="nav-link">Mis colaboraciones</a>
            </li>
            <li class="nav-item">
                <a href="/oferta/listpropias" class="nav-link">Mis ofertas</a>
            </li>
            <li class="nav-item">
                <a href="/solicitud/listpropias" class="nav-link">Mis solicitudes</a>
            </li>
            <li class="nav-item ">
                <a href="/oferta/list" class="nav-link">Ver ofertas</a>
            </li>
            <li class="nav-item">
                <a href="alumno/perfil" class="nav-link">Mi perfil</a>
            </li>
            <li class="nav-item" th:object="${session}">
                <a th:if="*{alumno.isSkp}" href="/skp/menu" class="nav-link">Menú SKP</a>

            </li>
            <li class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link">Cerrar sesión</a></li>

            <li class="nav-item">
                <div class="loggeduser" th:object="${session}">
                    <p th:if="*{alumno == null}">
                        No autenticat <a href="/login" th:href="@{/login}">Entrar</a>
                    </p>
                    <p th:unless="*{alumno == null}"><b>
                    Autenticado como <span th:text="*{alumno.nombre}"></span></b>
                    </p>
                </div>
            </li>

        </ul>

    </div>
</nav>
-->

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-30 text-center mb-30">
                <h2 style="font-size:60px;">SKILL SHARING</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar" >
            <div class="container">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto mr-md-3">
                        <li class="nav-item"><a href="/colaboracion/listpropias" class="nav-link">Mis colaboraciones</a></li>
                        <li class="nav-item"><a href="/oferta/listpropias" class="nav-link">Mis ofertas</a></li>
                        <li class="nav-item"><a href="/solicitud/listpropias" class="nav-link">Mis solicitudes</a></li>
                        <li class="nav-item"><a href="/oferta/list" class="nav-link">Ver ofertas</a></li>
                        <li class="nav-item"><a href="alumno/perfil" class="nav-link">Mi perfil</a></li>
                        <li class="nav-item" th:object="${session}">
                            <a th:if="*{alumno.isSkp}" href="/skp/menu" class="nav-link">Menú SKP</a>
                            <a th:unless="*{alumno.isSkp}" href="#" class="nav-link">Contactanos</a>
                        </li>
                        <li class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </div>
    <div class="loggeduser" th:object="${session}">
        <p th:if="*{alumno == null}">
            No autenticat <a href="/login" th:href="@{/login}">Entrar</a>
        </p>
        <p th:unless="*{alumno == null}"><center><b>
        Autenticado como <span th:text="*{alumno.nombre}"></span></b></center>
        </p>
    </div>

</section>

<!--            TEST -->

<div class="card-deck" style="width: auto; margin: auto auto;">
    <div class="card">
        <img src="https://2.bp.blogspot.com/-TO6S8qo6xFo/VgviO4QJLhI/AAAAAAAAbvM/0NtxfubM1WQ/s1600/EEF-Relaciones-interpersonales.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Mis colaboraciones</h5>
            <p class="card-text">Mira tus colaboraciones</p>
        </div>
        <div class="card-footer">
            <a href="/colaboracion/listpropias" class="btn btn-primary btn-lg btn-block">Ver colaboraciones</a>
        </div>
    </div>
    <div class="card">
        <img src="https://d3t4nwcgmfrp9x.cloudfront.net/upload/secretos-personas-siempre-obtienen-ofertas-trabajo.jpg" class="card-img-top" alt="...">
        <div class="card-body" >
            <h5 class="card-title">Mis solicitudes</h5>
            <p class="card-text">Comprueba si alguien te han aceptado en alguna de tus solicitudes</p>
        </div>
        <div class="card-footer">
            <a href="/solicitud/listpropias" class="btn btn-primary btn-lg btn-block">Ver solicitudes</a>
        </div>
    </div>
    <div class="card">
        <img src="https://2.bp.blogspot.com/-TO6S8qo6xFo/VgviO4QJLhI/AAAAAAAAbvM/0NtxfubM1WQ/s1600/EEF-Relaciones-interpersonales.jpg" class="card-img-top" alt="foto">
        <div class="card-body">
            <h5 class="card-title">Mis ofertas</h5>
            <p class="card-text">Consulta las ofertas de solicitudes que tienes y crea nuevas colaboraciones</p>
        </div>
        <div class="card-footer">
            <a href="/oferta/listpropias" class="btn btn-primary btn-lg btn-block">Ver mis ofertas</a>
        </div>
    </div>
    <div class="card">
        <img src="https://2.bp.blogspot.com/-TO6S8qo6xFo/VgviO4QJLhI/AAAAAAAAbvM/0NtxfubM1WQ/s1600/EEF-Relaciones-interpersonales.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Ver ofertas</h5>
            <p class="card-text">Consulta las ofertas disponibles y solicita colaborar</p>
        </div>
        <div class="card-footer">
            <a href="/oferta/list" class="btn btn-primary btn-lg btn-block">Ver ofertas disponibles</a>
        </div>
    </div>
</div>


</body>
<a href="/oferta/add" class="btn btn-primary btn-lg btn-block">Añadir oferta</a>


</html>