<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
    <link href="/static/style.css" rel="stylesheet">

    <div style="float:right" class="loggeduser" th:object="${session}">
        <p th:if="*{alumno == null}">
            No autenticat <a href="/login" th:href="@{/login}">Entrar</a>
        </p>
        <p th:unless="*{alumno == null}"><center><b>
        Autenticado como <span th:text="*{alumno.nombre}"></span></b></center>
        </p>
    </div>
</head>
<body>

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-30 text-center mb-30">
                <h2 style="font-size:60px;">CONFIRMAR SOLICITUD</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="loggeduser" th:object="${session}">
                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto mr-md-3">
                            <li th:if="*{alumno != null}"class="nav-item"><a href="/colaboracion/listpropias" class="nav-link">Mis colaboraciones</a></li>
                            <li th:if="*{alumno != null}"class="nav-item"><a href="/oferta/listpropias" class="nav-link">Mis ofertas</a></li>
                            <li th:if="*{alumno != null}"class="nav-item"><a href="/solicitud/listpropias" class="nav-link">Mis solicitudes</a></li>
                            <li class="nav-item"><a href="list" class="nav-link">Ver ofertas</a></li>
                            <li th:if="*{alumno != null}"class="nav-item"><a href="alumno/perfil" class="nav-link">Mi perfil</a></li>
                            <li th:if="*{alumno == null}" class="nav-item">
                                <a href="#" class="nav-link">Contactanos</a>
                            </li>
                            <li th:unless="*{alumno == null}" class="nav-item">
                                <a th:if="*{alumno.isSkp}" href="/skp/menu" class="nav-link">Menú SKP</a>
                                <a th:unless="*{alumno.isSkp}" href="#" class="nav-link">Contactanos</a>
                            </li>
                            <li th:if="*{alumno != null}"class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link">Cerrar sesión</a></li>
                            <li th:if="*{alumno == null}"class="dropdown nav-item d-md-flex align-items-center">
                                <a href="/alumno/users" class="dropdown-toggle nav-link d-flex align-items-center justify-content-center icon-cart p-0" id="dropdown04" data-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user"></i>
                                    <b class="caret"></b>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END nav -->
    </div>
</section>
<br>
<br>
<form action="#" th:action="@{/solicitud/confirmarAceptarSolicitud}"
      th:object="${solicitud}" method="post">
    <h2 align="center">ACEPTAR SOLICITUD</h2>
    <br>
    <br>
    <h2 align="center">DETALLES DEL SOLICITANTE</h2>
    <table align="center">
        <tr>
            <td><label>Nombre: </label></td>
            <td><a th:text="${alumno.nombre+' '+alumno.apellidos}"></a></td>
        </tr>
        <tr>
            <td><label>Correo electrónico: </label></td>
            <td><a th:text="${alumno.email}"></a></td>
        </tr>
        <tr>
            <td><label>Titulación: </label></td>
            <td><a th:text="${alumno.curso+' '+alumno.titulacion}"></a></td>
        </tr>
        <tr>
            <td></td>
            <td><a th:href="@{/colaboracion/add/{id_solicitud}(id_solicitud=${solicitud.id_solicitud})}" class="btn btn-secondary" role="button">Aceptar</a></td>
        </tr>

    </table>
</form>


</body>
</html>