<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1 align="center">Mis solicitudesa de ofertas ( aceptar/rechazar )</h1>
<table align="center">
    <thead>
    <tr>
        <th>Habilidad</th>
        <th>Estado</th>
        <th>DNI solicitud</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Fecha Iniciacion</th>
        <th>Fecha Finalizacion</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="solicitud: ${solicitudes}">
        <td th:each="habilidad: ${habilidades}" th:if="${habilidad.id_habilidad==solicitud.id_habilidad}" th:text="${habilidad.nombre+' '+habilidad.nivel}"></td>
        <td th:text="${solicitud.estado==null ?'Pendiente': solicitud.estado}"></td>
        <td th:each="alumno: ${alumnos}" th:if="${alumno.dni==solicitud.dni_solicitud}" th:text="${alumno.nombre+' '+alumno.apellidos}"></td>
        <td th:text="${solicitud.nombre}"></td>
        <td th:text="${solicitud.descripcion}"></td>
        <td th:text="${solicitud.fecha_inic}"></td>
        <td th:text="${solicitud.fecha_fin}"></td>

        <!-- FALTA PONER AQUI PARA ACEPTAR , ES DECIR QUE SE CREE LA COLABORACION-->
        <td><a th:href="@{/colaboracion/add/{id_solicitud}(id_solicitud=${solicitud.id_solicitud})}">Aceptar</a>
        <!-- <td><a th:href="@{/colaboracion/add/{id_colaboracion}(id_colaboracion=${colaboracion.id_colaboracion})}">Aceptar</a> -->
        <!-- FALTA PONER AQUI PARA RECHAZAR , ES DECIR QUE SE BORRE LA SOLICITUD DEL ALUMNO(DNI) QUE LA SOLICITA-->
        <!-- <td><a th:href="@{/solicitud/delete/{id_solicitud}(id_solicitud=${solicitud.id_solicitud})}">Rechazar</a>-->
    </tr>
    </tbody>
</table>
</body>
</html>