<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
    <link href="/static/style.css" rel="stylesheet">

    <div style="float:right" class="loggeduser" th:object="${session}">
        <p th:if="*{alumno == null}">
            No autenticat <a href="/login" th:href="@{/login}">Entrar</a>
        </p>
        <p th:unless="*{alumno == null}"><center><b>
        Autenticado como <span th:text="*{alumno.nombre}"></span></b></center>
        </p>
    </div>
</head>
<body>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-30 text-center mb-30">
                <h2 style="font-size:40px;">Mis solicitudes a otras ofertas ( ver si estoy aceptado o rechazado )</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" href="/">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto mr-md-3">
                        <li class="nav-item"><a href="/colaboracion/listpropias" class="nav-link">Mis colaboraciones</a></li>
                        <li class="nav-item"><a href="/oferta/listpropias" class="nav-link">Mis ofertas</a></li>
                        <li class="nav-item"><a href="/solicitud/listpropias" class="nav-link">Mis solicitudes</a></li>
                        <li class="nav-item"><a href="/oferta/list" class="nav-link">Ver ofertas</a></li>
                        <li class="nav-item"><a href="alumno/perfil" class="nav-link">Mi perfil</a></li>
                        <li class="nav-item" th:object="${session}">
                            <a th:if="*{alumno.isSkp}" href="/skp/menu" class="nav-link">Menú SKP</a>
                            <a th:unless="*{alumno.isSkp}" href="#" class="nav-link">Contactanos</a>
                        </li>
                        <li class="nav-item"><a href="/logout" th:href="@{/logout}" class="nav-link">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- END nav -->
    </div>
</section>

<div class="card-columns" style="width: auto; margin: auto auto;">
    <div class="card" style="width: 18rem;" th:each="solicitud: ${solicitudes}" align="center">
        <div class="card-body">
            <h5 class="card-title"><b><a a th:each="oferta: ${ofertas}" th:if="${oferta.idOferta==solicitud.id_oferta}" th:text="${oferta.nombre}"></a></b></h5>
            <p class="card-text"><a a th:each="oferta: ${ofertas}" th:if="${oferta.idOferta==solicitud.id_oferta}" th:text="${oferta.descripcion}"></a></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a th:each="habilidad: ${habilidades}" th:if="${habilidad.id_habilidad==solicitud.id_habilidad}" th:text="${habilidad.nombre+' '+habilidad.nivel}"></a></li>
            <li class="list-group-item">Inicio: <a th:text="${solicitud.fecha_inic}" ></a></li>
            <li class="list-group-item">Fin: <a th:text="${solicitud.fecha_fin}"></a></li>
            <li class="list-group-item">Estado: <a th:text="${solicitud.estado == null ?'Pendiente': (solicitud.estado== true ? 'Aceptado' : 'Denegado')}">"></a></li>


        </ul>
        <div class="card-body">
            <a th:href="@{/solicitud/delete/{idSolicitud}(idSolicitud=${solicitud.id_solicitud})}" class="btn btn-danger" role="button" >Borrar</a>

        </div>
        <!-- Button trigger modal -->

        <!-- Modal -->
    </div>
</div>
<!--
<div class="container">
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Habilidad</th>
        <th>Estado</th>
        <th>DNI solicitud</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Fecha Iniciacion</th>
        <th>Fecha Finalizacion</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="solicitud: ${solicitudes}">
        <td th:each="habilidad: ${habilidades}" th:if="${habilidad.id_habilidad==solicitud.id_habilidad}" th:text="${habilidad.nombre+' '+habilidad.nivel}"></td>
        <td th:text="${solicitud.estado == null ?'Pendiente': (solicitud.estado== true ? 'Aceptado' : 'Denegado')}"></td>
        <td th:text="${alumno.nombre+' '+alumno.apellidos}"></td>
        <td th:text="${solicitud.nombre}"></td>
        <td th:text="${solicitud.descripcion}"></td>
        <td th:text="${solicitud.fecha_inic}"></td>
        <td th:text="${solicitud.fecha_fin}"></td>
        <td><a th:href="@{/solicitud/delete/{idSolicitud}(idSolicitud=${solicitud.id_solicitud})}">Borrar</a>


        </td>
    </tr>
    </tbody>
</table>
</div>
-->
</body>
</html>