<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<h1 align="center">Mis solicitudes a otras ofertas ( ver si estoy aceptado o rechazado )</h1>
<table align="center">
    <thead>
    <tr>
        <th>Habilidad</th>
        <th>Estado</th>
        <th>DNI solicitud</th>
        <th>Nombre</th>
        <th>Descripcion</th>
        <th>Fecha Iniciacion</th>
        <th>Fecha Finalizacion</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="solicitud: ${solicitudes}">
        <td th:each="habilidad: ${habilidades}" th:if="${habilidad.id_habilidad==solicitud.id_habilidad}" th:text="${habilidad.nombre+' '+habilidad.nivel}"></td>
        <td th:text="${solicitud.estado == null ?'Pendiente': (solicitud.estado== true ? 'Aceptado' : 'Denegado')}"></td>
        <td th:text="${alumno.nombre+' '+alumno.apellidos}"></td>
        <td th:text="${solicitud.nombre}"></td>
        <td th:text="${solicitud.descripcion}"></td>
        <td th:text="${solicitud.fecha_inic}"></td>
        <td th:text="${solicitud.fecha_fin}"></td>


        </td>
    </tr>
    </tbody>
</table>
</body>
</html>